.page-title {
  padding: 1rem 0;
}

.destination-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.destination-left-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 1rem;
}

.destination-image {
  width: 100%;
}
.destination-right-section {
  padding: 5rem 1rem;
}

.destination-nav {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
}

.destination-nav button {
  all: unset;
  display: inline-block;
  cursor: pointer;
  padding: 1rem 0;
}

.destination-nav button:hover {
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  margin-bottom: -2px;
}

.destination-nav button.active {
  border-bottom: 2px solid #ffffff;
  margin-bottom: -2px;
}

.destination-hr {
  opacity: 0.3;
  margin: 2rem 0;
}

.destination-footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

@media (max-width: 992px) {
  .destination-section {
    grid-template-columns: 1fr;
  }

  .destination-left-section {
    padding: 1rem 1rem;
  }

  .destination-right-section {
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .destination-description {
    text-align: center;
  }
  .destination-image {
    width: 50%;
  }
}
