.home {
  padding-top: 8rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* background-color: brown; */
}

.home-left-section {
  /* background-color: greenyellow; */
}

.home-subtitle {
  margin-bottom: 4rem;
  /* background-color: seagreen; */
}

.home-title {
  /* background-color: lightcoral; */
}
.home-right-section {
  /* background-color: aqua; */
  display: flex;
  justify-content: right;
  align-items: center;
}

.home-explore-button {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  border: 0px;
  transition: all 0.5s ease;
}

.home-explore-button:hover {
  outline: 3rem solid rgba(255, 255, 255, 0.2);
}

@media (max-width: 992px) {
  .home {
    padding: 0 4rem;
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  .home-subtitle {
    margin-bottom: 0;
  }

  .home-left-section {
    text-align: center;
  }

  .home-right-section {
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .home {
    padding: 0 2rem;
  }
}
