.section-technology {
  display: grid;
  grid-template-columns: 1fr 5fr 5fr;
  padding: 2rem 0;
  gap: 30px;
  align-items: center;
}
.technology-nav {
  list-style: none;
  display: grid;
  gap: 2rem;
}

.technology-nav button {
  all: unset;
  display: inline-block;
  cursor: pointer;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  padding: 10px;
  border: 1px solid white;
  text-align: center;
}
