@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-position: center;
  /* background-repeat: no-repeat; */
  background-size: cover;

  width: 100vw;
  height: 100vh; /* Optional: fill full height too */
}
:root {
  font-family: "Barlow", "Barlow Condensed", "Bellefair", serif;
  font-weight: 400;
  color: #ffffff;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text-preset-1 {
  font-family: "Bellefair", serif;
  font-size: 144px;
  line-height: 172%;
  text-transform: uppercase;
}

.text-preset-2 {
  font-family: "Bellefair", serif;
  font-size: 100px;
  line-height: 114%;
  text-transform: uppercase;
}

.text-preset-3 {
  font-family: "Bellefair", serif;
  font-size: 56px;
  line-height: 164%;
  text-transform: uppercase;
}
.text-preset-4 {
  font-family: "Bellefair", serif;
  font-size: 32px;
  line-height: 136%;
  text-transform: uppercase;
}

.text-preset-5 {
  font-family: "Barlow Condensed", serif;
  font-size: 28px;
  line-height: 133%;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.text-preset-6 {
  font-family: "Bellefair", serif;
  font-size: 28px;
  line-height: 132%;
  text-transform: uppercase;
}

.text-preset-7 {
  font-family: "Barlow Condensed", serif;
  font-size: 14px;
  line-height: 120%;
  text-transform: uppercase;
}

.text-preset-8 {
  font-family: "Barlow Condensed", serif;
  font-size: 16px;
  line-height: 192%;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.text-preset-9 {
  font-family: "Barlow", serif;
  font-size: 18px;
  line-height: 180%;
}
@media (max-width: 576px) {
  .text-preset-1 {
    font-size: 80px;
  }
  .text-preset-5 {
    font-size: 16px;
  }
}
